$bg: rgba(36, 39, 49, 1);
$btnbg: rgba(48, 46, 90, 1);
$secbtnbg: rgba(66, 82, 209, 1);
$formbg: rgba(48, 58, 83, 1);
$inputbg: rgba(39, 45, 61, 1);
$placeholder: rgba(215, 215, 215, 1);
$mobilebtn: rgba(0, 72, 255, 1);

$white: rgba(255, 255, 255, 1);
$white-trans: rgba(255, 255, 255, 0.5);
$white-more-trans: rgba(255, 255, 255, 0.5);
$dark: rgba(0, 0, 0, 1);
$mainAccent: rgba(255, 52, 89, 1);

